video {
    
    box-shadow: 0px 0px 12px grey;
    transition: all 2s ease-in-out;
    
    
    
}

h1 {
    text-shadow: 0px 0px 5px yellow, 0px 5px 5px red;
}
    h1:hover{
    box-shadow: 5px 5px 5px black;

}

p {
    text-shadow: 0px 0px 5px yellow, 0px 5px 5px red;
}
    p:hover{
    box-shadow: 5px 5px 5px black;

}

h3 {
    text-shadow: 0px 0px 5px yellow, 0px 5px 5px red;
}
    h3:hover{
    box-shadow: 5px 5px 5px black;

}

button {
    text-shadow: 0px 0px 5px yellow, 0px 5px 5px red;
}
    button:hover{
    box-shadow: 5px 5px 5px black;

}
h1 {
    text-shadow: 0px 0px 5px yellow, 0px 5px 5px red;
}
    h1:hover{
    box-shadow: 5px 5px 5px black; 
    }

    li {
    text-shadow:  0px 5px 5px red;
}
    li:hover{
    box-shadow: 5px 5px 5px black;}


    table, th, td{

border: 1px solid black;

    }
    @media screen and (max-width:767px){
        
    }
    @media screen and (max-width:767px) and
                      (max-width:){

    }